html {
    font-family: 'Spartan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
}

/*....CONTENT....*/

.contenter {
    max-width: 1110px;
    padding: 0;
    margin: 0 50px;
}

.content {
    display: flex;
    margin: 80px 50px 0 130px;
}

.left {
    width: 25%;
}

h1 {
    color: hsl(300, 43%, 22%);
    margin-bottom: 10px;
    font-size: 30px;
}

.content p {
    color: hsl(303, 10%, 53%);
    font-size: 13px;
    width: 150%;
}

.rating {
    margin-left: 200px;
}

h5 {
    color: hsl(300, 43%, 22%);
    margin-left: 100px;
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-self: center;
}

.star {
    margin-right: 10px;
    display: inline-block;
}

.rating-second {
    transform: translateX(50px);
}

.rating-third {
    transform: translateX(100px);
}

/*....Text....*/

h6 {
    color: white;
    padding-top: 10px;
}

.card {
    display: flex;
    margin: 45px 100px 80px 180px;
    font-size: 12px;
}

.card-colton, .card-anne, .card-irene {
    background-color: hsl(300, 43%, 22%);
    width: 300px;
    height: 200px;
    padding: 20px 15px;
    margin-right: 30px;
    border-radius: 8px;
}

cite img {
    border-radius: 50px;
    max-width: 40px;
    margin-right: 20px;
    float: left;
}

cite {
    display: block;
    margin-left: 30px;
    margin-bottom: 30px;
    color: hsl(333, 80%, 67%);
}

.card p {
    color: white;
    font-weight: 500;
}

.card-irene {
    transform: translateY(20px);
}

.card-anne {
    transform: translateY(40px);
}

.attribution{
    margin-bottom: 30px;
}

